# Telegram Bot
python-telegram-bot==20.7

# Aliyun SDK
alibabacloud-agency20221216==1.6.1
alibabacloud-tea-openapi>=0.3.10,<1.0.0
alibabacloud-tea-util
alibabacloud-endpoint-util

# Basic dependencies
python-dotenv==1.0.0
nest-asyncio==1.5.8
aiohttp==3.9.1

# Performance optimization for Linux
uvloop==0.19.0; sys_platform == "linux"
